# dependencies
node_modules
.pnp
.pnp.js

# testing
.nyc_output
coverage
reports/
tests/reports/
tests_output/**
!tests_output/screenshots
tests_output/screenshots/**
chromedriver.log
data/**
!data/.gitkeep

# production
dist
bin

# misc
.vscode
.DS_Store
.env
.env.test
.env.production
.env.development
report.**.*